html {
    font-size: 100%; /*16px*/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
    padding-top: 6.5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.25rem;
}

header h1 {
    float: left;
    width: 4rem;
}

header nav {
    float: right;
    margin-top: 1.25rem;
}

header nav a {
    margin-left: 0.6rem;
}

.active {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.photos {
    text-align: center;
    max-width: 67.5rem;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    display: inline-block;
    width: 18.75rem;
    margin: 0.6rem;
    /* vertical-align: top; */
}

.small {
    width: 13.75rem;
}

.large {
    width: 25rem;
}